@model List<AlunoModel>
@{
    ViewData["Title"] = "Alunos";
}

<div class="text-center">

    <div class="text-center">
        <a class="btn btn-primary btn-block" role="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar Aluno</a>
    </div>
    <br />

    <h1 class="display-4">Página de Alunos</h1>
    <p>Registro de Alunos</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">N° de Matricula</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (AlunoModel aluno in Model)
                {
                    <tr>
                        <th scope="row">@aluno.Id</th>
                        <td>@aluno.Nome</td>
                        <td>@aluno.Email</td>
                        <td>@aluno.Matricula</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@aluno.Id" asp-controller="Aluno" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@aluno.Id" asp-controller="Aluno" asp-action="ConfirmaDeletar">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
